.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding: 3rem 6rem;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--blue);
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  margin-top: 6em;
}

.uploadHero {
  padding-bottom: 3em;
}

.uploadField {
  width: 100%;
}

.uploadForm input[type="text"],
.uploadForm button,
.uploadContainer {
  border: 5px solid #111;
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background: white;
  text-align: center;
}

.uploadForm button {
  cursor: pointer;
}

.uploadForm button,
.uploadContainer {
  transition: var(--transText);
}

.uploadForm button:hover,
.uploadContainer:hover {
  background: var(--red);
}

.uploadContainer {
  /* min-height: 400px; */
  position: relative;
}

.uploadContainer [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
}

.uploadContainer label {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadForm .tabbedLabel {
  /* border: 5px solid #111; */
  background: #111;
  color: #fff;
  transform: translate(5px, -5px);
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.4em;
}