.navbar {
  display: flex;
  gap: 1em;
  /* padding: 0.5em; */
  justify-content: space-between;
  align-items: center;
  /* background: rgba(200, 200, 200, 0.5); */
  /* background: var(--dark); */
  /* background: var(--cool); */
  background: white;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 5px solid var(--dark);
  z-index: 5;
  width: 100%;
  /* color: #f1f1f1; */
  color: var(--dark);
  max-width: 1282px;
  margin-inline: auto;
}

.navMenuItem:link,
.navMenuItem:visited {
  /* background: linear-gradient(to bottom right, var(--blue), var(--red));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  -webkit-text-fill-color: transparent; */
  text-decoration: none;
  color: var(--dark);
  line-height: 1.5em;
  border-bottom: 3px solid var(--dark);
}

.navMenuItem:hover {
  /* background: linear-gradient(to bottom right, var(--dark), var(--dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  -webkit-text-fill-color: transparent; */
  color: var(--red)
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.loggedIn {
  font-weight: bold;
}

.navButton {
  border: 5px solid var(--dark);
  padding: 5px;
  cursor: pointer;
  transition: var(--transText);
}

.navButton:hover {
  background: var(--red);
}

.logoHeading {
  /* background: var(--dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
  font-size: 3em;
  color: var(--dark);
  transition: var(--transText);
}

.logoHeading:hover {
  /* background: linear-gradient(to bottom right, var(--blue), var(--red));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
  color: var(--blue)
}

.cleanLink {
  text-decoration: none;
}