.navbar {
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  background: rgba(200, 200, 200, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.loggedIn {
  font-weight: bold;
}

.navButton {
  border: 5px solid #111;
  padding: 5px;
  cursor: pointer;
  transition: var(--transText);
}

.navButton:hover {
  background: var(--red);
}

.logoHeading {
  background: linear-gradient(to bottom right, var(--blue), var(--red));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}